body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eff0f1;   
}

header h1 {
    background-color: #022b5d;
    color:whitesmoke;
    font-size: 30px;
    padding: 10px ;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center ;
    height: 70px;
    margin-top: 10px;
}

.flex{
    background-color: #eff0f1;
    border: none;
    height: 10px;
    text-align: right;
    padding-right: 0%;
    padding-bottom: 5px;

}

.nav-link{
    color:#022b5d;
    text-decoration: none;
    margin-right: 0%;
    margin-bottom: 5px;
}

.nav-link:hover{
    color:rgb(140, 177, 228);
}

.nav-link:visited{
    color:cadetblue;
}

nav{
    
    height: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

ul {
    list-style-type: none;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 50px ;
    overflow: hidden;
    background-color: rgb(207, 221, 240);
    border: 3px solid #022b5d;
    border-radius: 10px;
    text-align: center;
}

li {
    display: inline;
    margin: 15px;
    
    
}

nav ul li a {
    color: black;
    text-decoration: none; 
    font-size: 17px; 
}


li a:hover{
    color: whitesmoke;
}
main {
    padding: 50px;
    
}

h1, h2, h3, h4 {
    color: black;
}
